.color-codemachine{
	color:#4e4e4e;
}

.font-code{
	font-size:95px;
}

.padding-top-code{
	:20px;
}

.h6{
	font-size:95px;
}

.welcome-font-codemachine{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #4e4e4e;
    padding-top: 0px;
}